 /* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Open+Sans:wght@400;500;600;700&family=Roboto:wght@100&display=swap'); */ */

/* ----------------------------Nav--------------------------------- */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 9999;
}

  

.nav_bar {
  position: fixed;
  
  width: 100%;
  top: 0px;
  display: flex;
  background-color: #45542C;
  align-items: center;
}
nav a {
  color: white;
  padding: 0 0.5rem;
  font-weight: bold;
}
nav a:hover {
  text-decoration: none;
}
nav div {
  flex: 1;
  padding: 1rem;
}
.nav_bar_R{
  text-align: right;
}
nav img {
  width: 50px;
  height: auto;
  margin-right: 10px;
}
/* #body{
  margin-top: 100px;
} */
/* ----------------------------------body--------------------------------------- */
body {

  font-family: Arial, sans-serif;
  background-color: #F2FFF5;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

ul {
  
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: center;
}

li {
  width: 300px;
  /* Modif */
  height: 500px; 
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  /* background-color: #fff; */
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

li:hover {
  transform: translateY(-5px);
}

li:hover button{
background-color: #45542C;
}

img {
  width: 90%;
  height: 60% ;
  object-fit: cover;
  margin: 1rem;
  /* margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 1rem; */
  border-radius: 5px 5px 0 0;
  border-radius: 5px;
  
}

li:hover img{
  transform: scale(1.15);
}

h2 {
  margin: 20px 10px;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: capitalize;
 
}

p {
  
  margin: 10px;
  font-size: 1em;
  color: #777;
}


button {
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  background-color: #A2AD99;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer; /* ajout d'un curseur*/
  transition: background-color 0.3s ease-in-out;
}

ul.species-details {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #45542C;
  z-index: 9999;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul.species-details p {
  text-align : left;
  margin: 10px 0;
  color: aliceblue;
}

ul.species-details button.close-btn {
  
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  background-color: #45542C;
  border: 2px solid #45542C;
  cursor: pointer;
  /* // cursor  définit la forme du curseur (s il y en a un) lorsque le pointeur est au-dessus de l élément */
}

/* ----------------------------------------Footer------------------------------------------------ */

 
.footer-basic {
  padding:40px 0;
  background-color:#ffffff;
  color:#ffffff;
  background-color: #45542C;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
}

.footer-basic li {
  padding:0 10px;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-basic ul a:hover {
  opacity:1;
}

.footer-basic .social {
  text-align:center;
  padding-bottom:25px;
}

.footer-basic .social > a {
  font-size:24px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top:15px;
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;

}
